<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="connection" value="server=(LocalDB)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=C:\temp\databas\ovning2\CompetitionDb.mdf;MultipleActiveResultSets=true"/>
    <add key="provider" value="System.Data.SqlClient"/>
  </appSettings>
</configuration>