<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="personconnection" value="server=(LocalDB)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=C:\temp\PersonDbSQL.mdf;MultipleActiveResultSets=true"/>
  </appSettings>
</configuration>